.Label{
    font-size:25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px peachpuff;

}
.text{
    font-size: 15px;
    color:black;

}
.copyrightfooter{
position: fixed;
color: rebeccapurple;
bottom: 0;
width: 100%;
background-color: salmon;
line-height: 5;
text-align: center;
}
canvas{
    border: 5px solid yellow;
border-radius: 20px;
box-shadow: 5px 5px 8px gold;
}